@model CwoPqsCrosswalk.Models.CwoPqs

<div>
    @foreach (var sec in Model.Sections)
    {
        <h5>@sec.Number @sec.Name</h5>

        <table>
            @{
                int col1 = 0;
                int col2 = 0;
                <tr>
                    <td width="50%">
                        @foreach (var sig in sec.Signatures)
                        {
                            if (@col1 % 2 == 0)
                            {<div class="checkboxes">
                                    @Html.CheckBoxFor(model => sig.Value)
                                    @Html.Label(sig.Key)
                                </div>
                            }
                            col1 = col1 + 1;
                        }
                    </td>
                    <td width="50%">
                        @foreach (var sig in sec.Signatures)
                        {
                            if (@col2 % 2 != 0)
                            {<div class="checkboxes">
                                    @Html.CheckBoxFor(model => sig.Value)
                                    @Html.Label(sig.Key)
                                </div>
                            }
                            col2 = col2 + 1;
                        }
                    </td>
                </tr>
            }
        </table>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
